*{
    margin: 0px;
}


body{

    background-color: #6D9EEB;
}

.font1{
    font-family: Inter, Arial, sans-sefif;
}

.icon{
    width: 50px;
}

form {
    text-align: center;
    font-family: Inter, Arial, sans-sefif;
}

.h1{
    color: #272E6E;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding:30px 0px;
}

.he3{
    color:  #272E6E;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 10px;
}

.base{
    color:#16233A;
    padding-top:15px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    max-width: 500px;
}

.sign{
    color:  #16233A;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 1.4em;

}

.head{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 52px; 
    background: #272E6E;
    position: fixed;
}

.head01{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px;
    height: 52px; 
    width: 100%;
    position: fixed;
}

input[type="text"]{
    display: flex;
    background-color:#FFF6F4 ;
    width: 300px;
    color:  #647FCF;
    font-family: Inter, Arial, sans-sefif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px;
    border-radius: 8px; 
    border: 1px #4D4C7D solid;
    margin-bottom: 24px;
}

input[type="password"]{
    display: flex;
    background-color:#FFF6F4 ;
    width: 300px;
    color:  #647FCF;
    font-family: Inter, Arial, sans-sefif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px;
    border-radius: 8px; 
    border: 1px #4D4C7D solid;
    margin-bottom: 24px;
}

.container{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    padding-top: 10px;
    background: #FFF6F4; 
    border-radius: 15px; 
    border: 1px #4D4C7D solid;
}

.con2{
    padding-top: 30px;
    display: block;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px;
}

/* Центрирование формы */
form {
    text-align: center;
}

/* Стилизация кнопки отправки формы */
form button {
    background: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
}


.main_reg{
    padding: 5px;
    padding-top: 60px;
    text-align: center;
}

.main-st{
    padding: 50px 10px;
    padding-left: 10%;
    
}

.but1{
    margin:15px ;
    padding: 6px 25px;
    justify-content: center;
    align-items: center;
    color:  #272E6E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 25.185px;
    background: #FFA41B;
    border-width: 0px;
}

.but1:hover{
    color:  #18193B;
    background: #F86F03;
}

.but1:active{
    color:  #18193B;
    background:  #FFAA40;
    box-shadow:inset 0px 0px 0px 3px  #F86F03;
}

.type2{
    background-color: #FFF6F4;
    box-shadow:inset 0px 0px 0px 2px  #4D4C7D;

}

.type2:hover{
    background-color: #6D9EEB;
    box-shadow:inset 0px 0px 0px 3px  #4D4C7D;
}

.type2:active{
    color: #647FCF;
    background-color: #FFF6F4;
    box-shadow:inset 0px 0px 0px 2px #647FCF;
}


.link{
    padding: 5px 0px;
    color:  #272E6E;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.link:hover{
    color:  #16233A;
    font-weight: 600;
}

.link:active{
    color:  #647FCF;
    font-weight: 300;
}

.main-st>img{
    margin-right: 10%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.butt{
    padding:30px;
    display: flex;
    justify-content: space-evenly;
}

.headlink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFA41B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:0px 50px;
    
    text-decoration: none;
}

.font2{
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 18px;
    font-weight: 600;
    color: #272E6E;
    background-color: orange;
    display: inline-block;
    text-align: center; /* Выравниваем текст по центру */
 /* Устанавливаем высоту метки, чтобы центрировать текст */
    line-height: normal;
    border-radius: 25.185px;
    border-width: 0px;
    margin:15px ;
    padding: 6px 25px;
    justify-content: center;
    align-items: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color:  #18193B;
    background: #F86F03;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}