<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style4.css">
    <link rel="shortcut icon" href="../static/images/fastAI.png">
    <title>Fast AI</title>
</head>
<body>
    <div class="head01">
        <form action="/"><button class="but1 type2 font1">Главная</button></form>
        <form action="#us"><button class="but1 type2 font1">О нас</button></form>
        <form action="offer"><button class="but1 type2 font1">Услуги</button></form>
        <form action="login"><button class="but1 type2 font1">Войти</button></form>
        <form action="register"><button class="but1 font1">Зарегистрироваться</button></form>
    </div>
    <div class="main-st"  style="background-color: rgba(230, 251, 230, 0.4)">
        <span class="h1 font1">BugBusters</span>
        <div class="row">
            <div>
                <div class="font2 font1">Искусством команды разработчиков, обладающей многолетним опытом и успешной реализацией разнообразных проектов, а также обширным опытом в различных отраслях, представляется вниманию наш проект.</div>
            </div>
            <img src="../static/images/fastAI.png" width="700px" >
        </div>
    </div>
    <div class="main-st" style="background-color: rgba(230, 230, 230, 0.6); padding-right: 10%;">
        <div class="h1 font1" style="text-align: center;">Услуги</div>
        <div class="row" >
                <div class="container con2" style="margin: 15px;">
                    <a href="offer" class="font1 he3" style="text-decoration: none;">Lite</a>
                    <p class="font1 font2">Обучение модели</p>
                </div>
                <div class="container con2" style="margin: 15px;">
                    <a href="offer" class="font1 he3" style="text-decoration: none;">Pro</a>
                    <div class="font1 font2">Обучение и интеграция</div>
                </div>
                <div class="container con2" style="margin: 15px;">
                    <a href="offer" class="font1 he3" style="text-decoration: none;">Master</a>
                    <p class="font1 font2">Анализ, обучение и интеграция</p>
                </div>
        </div>
    </div>
    <div class="main-st row">
        <div>
            <div id="us" class="h1 font1" >О нас</div>
            <div class="base font1">Мы очень добрые хорошие люди, вы только посмотрите на наши лица</div>
        </div>
        <img src="../static/images/fff1.png" align="right">
    </div>
    <div class="butt row" style="background-color: rgba(230, 251, 230, 0.4)">
        <div class="sign font1">(c)BugBusters </div>
        <div class="sign font1">
            <div>Контакты</div>
            <div>+7(***)***-**-**</div>
            <div>+7(***)***-**-**</div>
        </div>
        <div class="sign font1">
            <div>Адрес</div>
        </div>
    </div>
</body>
</html>