<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style5.css">
    <link rel="shortcut icon" href="../static/images/fastAI.png">
    <title>Fast AI</title>
</head>
<body>
    <div class="head01">
        <form action="index"><button class="but1 type2 font1">Главная</button></form>
        <form action="index"><button class="but1 type2 font1">О нас</button></form>
        <form action="#"><button class="but1 type2 font1">Услуги</button></form>
        <form action="login"><button class="but1 type2 font1">Войти</button></form>
        <form action="register"><button class="but1 font1">Зарегистрироваться</button></form>
    </div>
    <div class="main-st"  style="background-image: url(../static/images/aifast.png);">
        <span class="h1 font1" style="font-size: 70px; padding: 90px ;text-shadow:
        3px 3px 5px #F5F5F5,
        -3px 3px 5px #F5F5F5,
        -3px -3px 5px #F5F5F5,
        3px -3px 5px #F5F5F5; ">Услуги</span>
        <div class="row">
            <div></div>
        </div>
    </div>
    <div class="main-st"  style="background-color: rgba(230, 230, 230, 0.9)">
        <div>
            <div id="offer1" class="font1 h1" >Услуга 1</div>
            <p class="font1 font2" style="max-width: 60%;"> <b>Обучи свою модель</b></p>
             <div class="base font1">С помошью нашего сервиса можно обучить свою модель на основе своих данные</div>
            <form action="register"><button class="but1 font1 type2">Оформить</button></form>
        </div>
    </div>

    <div class="main-st"  style="background-color: rgba(230, 230, 230, 0.1)">
        <div>
            <div id="offer2" class="font1 h1">Услуга 2</div>
            <p class="font1 font2" style="max-width: 60%;">Обучение модели по определенному и создание приложения по работе с ним</p>
            <form action="register"><button class="but1 font1 type2">Оформить</button></form>
        </div>
    </div>
    <div class="main-st"  style="background-color: rgba(230, 230, 230, 0.4)">
        <div>
            <div id="offer3" class="font1 h1">Услуга 3</div>
            <p class="font1 font2" style="max-width: 60%;">Анализ компании, поиск возможности внедрения, создание модели, создание приложений, интеграция </p>
            <form action="register"><button class="but1 font1 type2">Оформить</button></form>
        </div>
    </div>
    <div class="main-st" style="margin: 25px; text-align: center;" >
        <div class="container" >
            <div id="contact" class="font1 he3">Оставить заявку</div>
            <input type="text"placeholder="Имя" style="width: 95%;">
            <input type="text"placeholder="Почта" style="width: 95%;">
            <input type="text"placeholder="Телефон" style="width: 95%;">
            <select class="font1 font2">
                <option>услуга 1</option>
                <option>услуга 2</option>
                <option>услуга 3</option>
            </select>
            <button class="but1 font1">Оставить заявку</button>
        </div>
        </div>
    <div class="butt row" style="background-color: rgba(255, 255, 255, 0.618)">
        <div class="sign font1">(c)BugBusters </div>
        <div class="sign font1">
            <div>Контакты</div>   
            <div>+7(***)***-**-**</div>   
            <div>+7(***)***-**-**</div>   
        </div>
        <div class="sign font1">
            <div>Адрес</div>   
        </div>
    </div>
</body>
</html>